._rappo_chatbot {
  display: block;
  border: none;
  position: fixed;
  inset: auto 0px 0px auto;
  width: 72px;
  height: 72px;
  opacity: 1;
  background: none transparent !important;
  margin: 0px;
  max-height: 100%;
  max-width: 100vw;
  transform: translateY(0px);
  transition: none 0s ease 0s !important;
  visibility: visible;
  z-index: 999999999 !important;
  right: 20px;
  bottom: 20px;
}
._rappo_chatbot_close {
  width: 72px;
  height: 72px;
}
._rappo_chatbot_open {
  width: 375px;
  height: 590px;
}